@import "primeicons/primeicons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.container{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    background-image: url('../../../assets/lap.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.login-box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid white;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

}
.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    width: 130px;
    border-radius: 0 0 20px 20px;
}

.login-header span{
    font-size: 20px;
    color: black;
}

.input{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: white;
    padding-inline: 20px;
    border: 2px solid white;
    border-radius: 30px;
    outline: none;
}
#user {
    margin-bottom: 10px;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;

}

i{
    position: absolute;
    top: 18px;
    right: 25px;
}
.remember {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    font-size: 15px;
}

.input-submit{
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

  
  

#ny{
    margin-right: 5px;
}
.register{
    text-align: center;
}

.register a{
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
   text-decoration: underline;
   
}

@media only screen and (max-width: 564px) {
    .wrapper{
        padding: 20px;
    }
    .login-box{
        padding: 7.5em 2.5em 4em 2.5em;
    }
    
}
